{% extends "base.html" %}
{% block title %}
    SignUp
{% endblock %}

{% block items2 %}
<a href="{{url_for('signup')}}" class="bg-indigo-600 text-white px-4 py-2 rounded-md shadow hover:bg-indigo-700">Sign Up</a>
<a href="{{url_for('login')}}" class="bg-indigo-600 text-white px-4 py-2 rounded-md shadow hover:bg-indigo-700">Sign In</a>
{% endblock %}

{% block body %}
<div class="bg-indigo-500 min-h-screen flex items-center justify-center px-4">
    <div class="w-full bg-white rounded shadow-lg p-6 sm:p-8 max-w-sm mx-auto">
        <h1 class="block w-full text-center text-black mb-6 text-3xl font-black">Sign Up</h1>

        <form class="mb-4 flex flex-wrap justify-between" action="/api/register" method="post">

            <div class="flex flex-col mb-4 w-full sm:w-1/2 sm:pr-2">
                <label class="mb-2 uppercase tracking-wide font-bold text-lg text-grey-darkest" for="first_name">First Name</label>
                <input class="border py-2 px-3 text-grey-darkest w-full" type="text" name="first_name" id="first_name">
            </div>

            <div class="flex flex-col mb-4 w-full sm:w-1/2 sm:pl-2">
                <label class="mb-2 uppercase font-bold text-lg text-grey-darkest" for="last_name">Last Name</label>
                <input class="border py-2 px-3 text-grey-darkest w-full" type="text" name="last_name" id="last_name">
            </div>

            <div class="flex flex-col mb-4 w-full">
                <label class="mb-2 uppercase font-bold text-lg text-grey-darkest" for="email">Email</label>
                <input class="border py-2 px-3 text-grey-darkest w-full" type="email" name="email" id="email">
            </div>

            <div class="flex flex-col mb-6 w-full">
                <label class="mb-2 uppercase font-bold text-lg text-grey-darkest" for="password">Password</label>
                <input class="border py-2 px-3 text-grey-darkest w-full" type="password" name="password" id="password">
            </div>

            <button class="block bg-blue-500 hover:bg-blue-600 text-white uppercase text-lg mx-auto p-3 rounded w-full mt-2" type="submit">
                Create Account
            </button>
        </form>

        <a class="block bg-red-400 w-full text-center text-sm text-grey-dark hover:text-grey-darker p-3 rounded" href="/login">
            Already have an account?
        </a>
    </div>
</div>
{% endblock %}
